---
---
$palette: (
    'dark_blue':  #2d4a5c,
    'dusky_pink': #e29bb5,
    'mint_green': #70c5a0,
    'light_blue': #96c2d9,
    'lilac':      #a08dc2,
    'coral':      #f58c7b
);

@function palette($key) {
    @return map-get($palette, $key);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: palette('dark_blue');
}

html {
    background: url(/images/background.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

#skip_to_content {
    position: absolute;
    top: -5em;
    left: 0;
}

#skip_to_content:focus {
    position: absolute;
    top: 0;
}

header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header > nav {
    background-color: white;
    # display: none;
    flex: 1;
    transition: 300ms all ease;
}

header > nav > input {
    opacity: 0;
    position: absolute;;
    right: 0.88em;
    top: 0.88em;
    height: 4em;
    width: 4em;
    z-index: 1000;
}

header > nav > label, header > nav > label::before, header > nav > label::after {
    content: "";
    display: block;
    width: 2.35em;
    height: 0.88em;
    text-indent: -999999px;
    border: none;
    border-radius: 0.44em;
    float: right;
}

header > nav > label {
    right: 0.88em;
    top: 0.88em;
    position: relative;
    background-color: palette('dusky_pink');
}

header > nav > label::before {
    position: absolute;
    top: 1.32em;
    background-color: palette('dark_blue');
}

header > nav > label::after {
    position: absolute;
    top: 2.64em;
    background-color: palette('mint_green');
}

header > nav > input:checked + label,
header > nav > input:checked + label::after,
header > nav > input:checked + label::before {
    height: 0.44em;
}

header nav > ul {
    list-style-type: none;
}

header nav > ul > li {
    border-bottom: 1px dotted rgba(0,0,0,.1);
    position: relative;
}

header nav > ul > li {
    display: block;
    color: rgba(0,0,0,.65);
    font-weight: 700;
    padding: 1.5rem 0;
    transition: 250ms all ease;
}

header nav > ul > li > a {
    text-decoration: none;
}
