---
---
$palette: (
    'dark_blue':  #2d4a5c,
    'dusky_pink': #e29bb5,
    'mint_green': #70c5a0,
    'light_blue': #96c2d9,
    'lilac':      #a08dc2,
    'coral':      #f58c7b
);

@function palette($key) {
    @return map-get($palette, $key);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: palette('dark_blue');
}

html {
    background: url(/images/background.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

#skip_to_content {
    position: absolute;
    top: -5rem;
    left: 0;
}

#skip_to_content:focus {
    position: absolute;
    top: 0;
}

header {
    nav {
        background-color: white;

        $thickness: 0.88;
        $length: 2.35;
        $gap: 0.22;
        $overall_width: 2.20577 + $thickness;
        $overall_height: $thickness * 3 + $gap * 2;

        input {
            opacity: 0;
            position: absolute;;
            right: #{$thickness - (($overall_width - $length) / 2)}rem;
            top: 0.88rem;
            height: #{$overall_height}rem;
            width: #{$overall_width}rem;
            z-index: 1;
        }

        label {
            background-color: palette('dark_blue');
            float: right;
            margin: #{$thickness + $gap}rem 0 #{$thickness + $gap}rem 0;
            right: #{$thickness}rem;
            text-indent: -999999px;
            top: #{$thickness}rem;
        }

        label, label::before, label::after {
            border-radius: #{$thickness / 2}rem;
            border: none;
            display: block;
            height: #{$thickness}rem;
            position: absolute;
            transition-duration: 0.5s;
            width: #{$length}rem;
        }

        label::before, label::after {
            content: "";
        }

        label::before {
            background-color: palette('dusky_pink');
            top: -#{$thickness + $gap}rem
        }

        label::after {
            background-color: palette('mint_green');
            top: #{$thickness + $gap}rem
        }

        input:checked {
            & + label::before {
                top: 0;
                transform: rotate(-60deg);
                transform-origin: #{$thickness / 2}rem;
            }

            & + label {
                transform: rotate(-60deg);
            }

            & + label::after {
                top: 0;
                transform: rotate(-60deg);
                transform-origin: #{$length - ($thickness / 2)}rem #{$thickness / 2}rem;
            }

            & ~ ul {
                transform: translate(0, 0);
            }
        }

        ul {
            list-style-type: none;
            transform-origin: 0% 0%;
            transform: translate(0%, -100%);
            transition: transform 0.5s;
            li {
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
