<address>
    Gawsworth Village Hall<br/>
    Church Lane<br/>
    Macclesfield<br/>
    SK11 9RJ<br/>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "EventVenue",
        "@id": "https://www.wildaboutpilates.co.uk/#gawsworth",
        "url": "https://www.wildaboutpilates.co.uk/",
        "name": "Wild About Pilates",
        "telephone": "+44-7378-166524",
        "image": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
        "logo": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
        "maximumAttendeeCapacity": "12",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "53.2305637",
            "longitude": "-2.168794"
        },
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "GB",
            "streetAddress": "Gawsworth Village Hall, Church Lane",
            "addressLocality": "Macclesfield",
            "addressRegion": "Cheshire",
            "postalCode": "SK11 9RJ"
        },
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "09:45:00",
                "closes":  "10:45:00",
                "dayOfWeek": "http://schema.org/Monday",
                "validFrom": "2022-01-03"
            },
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "11:00:00",
                "closes":  "12:00:00",
                "dayOfWeek": "http://schema.org/Monday",
                "validFrom": "2022-01-03"
            },
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "09:30:00",
                "closes":  "10:30:00",
                "dayOfWeek": "http://schema.org/Tuesday",
                "validFrom": "2024-10-08"
            },
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "18:15:00",
                "closes":  "19:15:00",
                "dayOfWeek": "http://schema.org/Thursday",
                "validFrom": "2022-07-07"
            },
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "19:30:00",
                "closes":  "20:30:00",
                "dayOfWeek": "http://schema.org/Thursday",
                "validFrom": "2022-01-06"
            }
        ]
    }
    </script>
</address>
