<address>
    Substation<br/>
    Queen's Ave<br/>
    Macclesfield<br/>
    SK10 2BN<br/>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "EventVenue",
        "@id": "https://www.wildaboutpilates.co.uk/#substation",
        "url": "https://www.wildaboutpilates.co.uk/",
        "name": "Wild About Pilates",
        "telephone": "+44-7378-166524",
        "image": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
        "logo": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
        "maximumAttendeeCapacity": "12",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "53.268268",
            "longitude": "-2.118140"
        },
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "GB",
            "streetAddress": "Substation, Queen's Avenue",
            "addressLocality": "Macclesfield",
            "addressRegion": "Cheshire",
            "postalCode": "SK10 2BN"
        },
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "11:00:00",
                "closes":  "12:00:00",
                "dayOfWeek": "http://schema.org/Tuesday",
                "validFrom": "2025-05-06"
            }
        ]
    }
    </script>
</address>
