a.button {
    background-color: #70c5a0;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
