figure.logo {
    display: table;
    border: 10px solid white;
    margin: 0 auto 1rem auto;

    img {
        margin: 0 auto;
        width: 200px;
        display: table-caption;

        @media (min-width: 43.75em) {
            width: 300px;
        }
        @media (min-width: 56.25em) {
            width: 400px;
        }
    }

    figcaption {
        display: table-row;
        text-align: center;
    }
}
