<address>
    Morton Hall Community Centre<br>
    Union Road<br>
    Macclesfield<br>
    SK11 7BN<br>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "EventVenue",
        "@id": "https://www.wildaboutpilates.co.uk/#macclesfield",
        "url": "https://www.wildaboutpilates.co.uk/",
        "name": "Wild About Pilates",
        "telephone": "{{ site.tel_int }}",
        "image": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
        "logo": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
        "maximumAttendeeCapacity": "12",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "53.258309",
            "longitude": "-2.114774"
        },
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "GB",
            "streetAddress": "Morton Hall Community Centre, Union Road",
            "addressLocality": "Macclesfield",
            "addressRegion": "Cheshire",
            "postalCode": "SK11 7BN"
        },
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "14:00:00",
                "closes":  "15:00:00",
                "dayOfWeek": "http://schema.org/Wednesday",
                "validFrom": "2019-09-18"
            },
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "18:00:00",
                "closes":  "19:00:00",
                "dayOfWeek": "http://schema.org/Thursday"
            },
            {
                "@type": "OpeningHoursSpecification",
                "opens":  "19:15:00",
                "closes":  "20:15:00",
                "dayOfWeek": "http://schema.org/Thursday"
            }
        ]
    }
    </script>
</address>
