@import 'trig';

#skip_to_content {
    position: absolute;
    top: -5rem;
    left: 0;
}

#skip_to_content:focus {
    position: absolute;
    top: 0;
}

header {
    $gap: 0.22;
    $rad: 0.22;
    $dia: $rad * 2;
    $inner_len: 1.47;
    $outer_len: $inner_len + $dia;
    $click_box_w: ($inner_len * 1.5) + $dia;
    $click_box_h: $dia * 3 + $gap * 2;
    $header_height: $click_box_h + 2rem;

    border-bottom: 1px solid gray;
    height: $header_height;
    line-height: #{$click_box_h}rem;
    padding: 1rem;

    .logo {
        vertical-align: middle;
    }

    nav {
        background-color: white;

        input {
            opacity: 0;
            height: #{$click_box_h}rem;
            left: #{1 - (($click_box_w - $outer_len) / 2)}rem;
            position: absolute;
            width: #{$click_box_w}rem;
            z-index: 1;
        }

        label {
            background-color: palette('dark_blue');
            margin: #{$dia + $rad}rem 1rem #{$dia + $rad}rem 0;
            position: relative;
            float: left;
            text-indent: -999999px;
        }

        label, label::before, label::after {
            border-radius: #{$rad}rem;
            border: none;
            display: block;
            height: #{$dia}rem;
            width: #{$outer_len}rem;
            transition: transform 0.5s;
        }

        label::before, label::after {
            content: "";
            position: absolute;
        }

        label::before {
            background-color: palette('dusky_pink');
            top: -#{$dia + $gap}rem
        }

        label::after {
            background-color: palette('mint_green');
            top: #{$dia + $gap}rem
        }

        input:checked {
            $half_len: $inner_len / 2;
            $offx: $half_len - abs(rotx($half_len, 0, 60));
            $offy: ($gap + $dia) - abs(roty($half_len, 0, 60));

            & + label, label::before, label::after {
                transition-duration: 0.5s;
            }

            & + label::before {
                transform: translate(#{- $offx}rem, #{$offy}rem) rotate(-60deg);
            }

            & + label {
                transform: rotate(-60deg);
            }

            & + label::after {
                transform: translate(#{$offx}rem, #{- $offy}rem) rotate(-60deg);
            }

            & ~ ul li {
                transform: translate(0, 0);
            }

            & ~ ul {
                left: 0;
            }
        }

        ul {
            left: -100%;
            list-style-type: none;
            position: absolute;
            top: $header_height;
            transition: left 0.5s;
            li {
                transform-origin: 0 0;
                transform: translate(-100%, 0);
                transition: transform 0.5s;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
