@import 'trig';

#skip_to_content {
    position: absolute;
    top: -5rem;
    left: 0;
}

#skip_to_content:focus {
    position: absolute;
    top: 0;
}

$gap: 0.22;
$rad: 0.22;
$dia: $rad * 2;
/* $inner_len: 1.47; */
$inner_len: 1;
$outer_len: $inner_len + $dia;
$click_box_w: ($inner_len * 1.5) + $dia;
$click_box_h: $dia * 3 + $gap * 2;
$header_height: $click_box_h + 2rem;

header {
    background-color: white;
    border-bottom: 1px solid palette('dark_blue');
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: $header_height;
    line-height: #{$click_box_h}rem;
    padding: 1rem;
    position: relative;
    z-index: 1;

    .logo {
        $logo_w: 408.5;
        $logo_h: 301.90827473;
        $logo_w_rem: ($logo_w / ($logo_h / ($click_box_h * 16))) / 16;

        background: url(/images/wild-about-pilates-logo.svg) left center/auto #{$click_box_h}rem no-repeat;
        display: block;
        height: #{$click_box_h}rem;
        text-decoration: none;
        text-indent: #{$logo_w_rem + $dia}rem;
        vertical-align: middle;
    }
}

input {
    height: #{$click_box_h}rem;
    opacity: 0;
    position: absolute;
    right: #{1 - (($click_box_w - $outer_len) / 2)}rem;
    top: 1rem;
    width: #{$click_box_w}rem;
    z-index: 3;
}

label {
    background-color: palette('dark_blue');
    margin: #{$dia + $rad}rem 0 #{$dia + $rad}rem 0;
    position: absolute;
    right: 1rem;
    text-indent: -999999px;
    top: 1rem;
    z-index: 1;
}

label, label::before, label::after {
    border-radius: #{$rad}rem;
    border: none;
    display: block;
    height: #{$dia}rem;
    width: #{$outer_len}rem;
    transition: transform 0.5s;
}

label::before, label::after {
    content: "";
    position: absolute;
}

label::before {
    background-color: palette('dusky_pink');
    top: -#{$dia + $gap}rem
}

label::after {
    background-color: palette('mint_green');
    top: #{$dia + $gap}rem
}

input:checked {
    $half_len: $inner_len / 2;
    $offx: $half_len - abs(rotx($half_len, 0, 60));
    $offy: ($gap + $dia) - abs(roty($half_len, 0, 60));

    & + label, label::before, label::after {
        transition-duration: 0.5s;
    }

    & + label::before {
        transform: translate(#{- $offx}rem, #{$offy}rem) rotate(-60deg);
    }

    & + label {
        transform: rotate(-60deg);
    }

    & + label::after {
        transform: translate(#{$offx}rem, #{- $offy}rem) rotate(-60deg);
    }

    & ~ nav ul {
        transform: translate(0, 0);
    }
}

nav {
    line-height: 2;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 0;

    ul {
        border-bottom: 1px solid palette('dark_blue');
        background-color: palette('mint_green');
        list-style-type: none;
        padding: 0.5rem;
        transition-duration: 0.5s;
        transform: translate(0, -100%);
        li {
            color: white;
            a {
                color: white;
                display: block;
                text-decoration: none;
                &:hover {
                    background: palette('light_blue');
                }
            }
        }
    }

    ul.no-delay {
        transition-duration: 0s;
    }
}
