// http://typecast.com/blog/a-more-modern-scale-for-web-typography

@function nounit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function rem_to_px($rem) {
    @return nounit($rem) * 16;
}

@function h_size($body_size, $scale) {
    @return $body_size * $scale;
}

@function h_line_height($font_size, $pixels) {
    @return nounit($pixels) / rem_to_px($font_size);
}

@function h_margin_top($body_line_height, $pixels) {
    @return (rem_to_px($body_line_height) / nounit($pixels)) * 1.5rem;
}

@function h_margin_bottom($body_line_height, $pixels) {
    @return (rem_to_px($body_line_height) / nounit($pixels)) * 1.5rem;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, p,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size-adjust: 0.5;
    font-size: 100%;
    text-rendering: optimizeLegibility;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, p {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, time, em, .blog_list .title {
    font-weight: 400;
}

$body_size: 1rem;
$body_line_height: 1.25;

body {
    $font_size: $body_size;
    font-size: $font_size;
    line-height: $body_line_height;
}

main {

    p {
        margin-bottom: 1rem;
    }

    ol + p {
        margin-top: 1rem;
    }

    li, dd {
        color: palette('dark_blue');
        margin-left: 1em;
        list-style-type: disc;
        display: list-item;
    }

    li span, dd span {
        color: palette('dark_blue');
    }

    h1 {
        $font_size: h_size($body_size, 2);
        font-size: $font_size;
        letter-spacing: #{- $font_size / rem_to_px($font_size)};
        line-height: h_line_height($font_size, 45px);
        margin-bottom: h_margin_bottom($body_line_height, 32px);
        margin-top: h_margin_top($body_line_height, 32px);
    }

    h2, .blog_list .title {
        $font_size: h_size($body_size, 1.625);
        font-size: $font_size;
        line-height: h_line_height($font_size, 30px);
        margin-bottom: h_margin_bottom($body_line_height, 26px);
        margin-top: h_margin_top($body_line_height, 26px);
    }

    h3 {
        $font_size: h_size($body_size, 1.375);
        font-size: $font_size;
        line-height: h_line_height($font_size, 25px);
        margin-bottom: h_margin_bottom($body_line_height, 22px);
        margin-top: h_margin_top($body_line_height, 22px);
    }

    h4, dt {
        $font_size: h_size($body_size, 1.125);
        font-size: $font_size;
        line-height: h_line_height($font_size, 20px);
        margin-bottom: h_margin_bottom($body_line_height, 18px);
        margin-top: h_margin_top($body_line_height, 18px);
    }

    s {
        opacity: 50%;
    }

    @media (min-width: 43.75em) {
        $body_size: 1rem;
        $body_line_height: 1.375;

        body {
            $font_size: $body_size;
            font-size: $font_size;
            line-height: $body_line_height;
        }

        h1 {
            $font_size: h_size($body_size, 2.5);
            font-size: $font_size;
            letter-spacing: normal;
            line-height: h_line_height($font_size, 45px);
            margin-bottom: h_margin_bottom($body_line_height, 45px);
            margin-top: h_margin_top($body_line_height, 45px);
        }

        h2, .blog_list .title {
            $font_size: h_size($body_size, 2);
            font-size: $font_size;
            line-height: h_line_height($font_size, 40px);
            margin-bottom: h_margin_bottom($body_line_height, 32px);
            margin-top: h_margin_top($body_line_height, 32px);
        }

        h3 {
            $font_size: h_size($body_size, 1.5);
            font-size: $font_size;
            line-height: h_line_height($font_size, 30px);
            margin-bottom: h_margin_bottom($body_line_height, 24px);
            margin-top: h_margin_top($body_line_height, 24px);
        }

        h4 {
            $font_size: h_size($body_size, 1.125);
            font-size: $font_size;
            line-height: h_line_height($font_size, 22px);
            margin-bottom: h_margin_bottom($body_line_height, 18px);
            margin-top: h_margin_top($body_line_height, 18px);
        }
    }

    @media (min-width: 56.25em) {
        $body_size: 1rem;
        $body_line_height: 1.375;

        body {
            $font_size: $body_size;
            font-size: $font_size;
            line-height: $body_line_height;
        }

        h1 {
            $font_size: h_size($body_size, 3);
            font-size: $font_size;
            letter-spacing: normal;
            line-height: h_line_height($font_size, 50px);
            margin-bottom: h_margin_bottom($body_line_height, 48px);
            margin-top: h_margin_top($body_line_height, 48px);
        }

        h2, .blog_list .title {
            $font_size: h_size($body_size, 2.25);
            font-size: $font_size;
            line-height: h_line_height($font_size, 45px);
            margin-bottom: h_margin_bottom($body_line_height, 32px);
            margin-top: h_margin_top($body_line_height, 32px);
        }

        h3 {
            $font_size: h_size($body_size, 1.75);
            font-size: $font_size;
            line-height: h_line_height($font_size, 35px);
            margin-bottom: h_margin_bottom($body_line_height, 24px);
            margin-top: h_margin_top($body_line_height, 24px);
        }

        h4 {
            $font_size: h_size($body_size, 1.125);
            font-size: $font_size;
            line-height: h_line_height($font_size, 22px);
            margin-bottom: h_margin_bottom($body_line_height, 18px);
            margin-top: h_margin_top($body_line_height, 18px);
        }
    }
}
