{{ define "main" }}
<ul class="blog_list">
  {{- range .Pages.ByDate.Reverse }}
    {{- $post := . -}}
    {{- $excerpt := "" -}}
    {{- with (index (where .Params.blocks "type" "text") 0) -}}
      {{- $html := $post.RenderString (dict "display" "block") .body -}}
      {{- with (findRE `(?s)<p>.*?</p>` $html 1) }}{{ $excerpt = index . 0 }}{{ end -}}
    {{- end -}}
    <li>
      <a href="{{ $post.RelPermalink }}" class="title">{{ $post.Title }}</a>
      {{ $excerpt | safeHTML }}
      <a href="{{ $post.RelPermalink }}" class="read_more">read more&hellip;</a>
    </li>
  {{- end }}
</ul>
{{ end }}
