{{- $ext := .Get "ext" | default "jpg" -}}
{{- $file := .Get "file" -}}
<figure class="photo">
    <a href="/images/{{ $file }}-clean.{{ $ext }}">
    <img srcset="
            /images/{{ $file }}-200w.{{ $ext }} 200w,
            /images/{{ $file }}-300w.{{ $ext }} 300w,
            /images/{{ $file }}-400w.{{ $ext }} 400w"
         sizes="
            (min-width: 56.25em) 400px,
            (min-width: 43.75em) 300px,
            200px"
         src="/images/{{ $file }}-400w.{{ $ext }}"
         alt="{{ .Get "alt" }}">
    </a>
    {{- with .Get "caption" }}
    <figcaption>{{ . }}</figcaption>
    {{- end }}
</figure>
