{{- $val := .b.file -}}
{{- $file := path.BaseName $val -}}
{{- $ext := or ($val | path.Ext | strings.TrimPrefix ".") .b.ext "png" -}}
{{- $img := partial "gen-image-variants.html" (dict "file" $file "ext" $ext) -}}
<figure class="logo">
    <a href="{{ .b.url }}">
    <img srcset="
            {{ $img.w200 }} 200w,
            {{ $img.w300 }} 300w,
            {{ $img.w400 }} 400w"
         sizes="
            (min-width: 56.25em) 400px,
            (min-width: 43.75em) 300px,
            200px"
         src="{{ $img.w400 }}"
         alt="{{ .b.alt }}">
    </a>
    {{- with .b.caption }}
    <figcaption>{{ . }}</figcaption>
    {{- end }}
</figure>
