<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1" />
        <title>Wild About Pilates | {{ page.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="/css/screen.css">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Wild About Pilates">
        <meta name="application-name" content="Wild About Pilates">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <header>
            <a id="skip-to-content" href="#main-content">Skip to main content</a>
            <a class="logo" href="/">Wild About Pilates</a>
        </header>
        <input id="menu-toggle" type="checkbox" />
        <label for="menu-toggle">Menu toggle</label>
        <nav id="main-nav" class="no-delay" aria-label="Main Navigation">
            <ul id="menu">
            {%- for item in site.data.nav %}
                {%- if page.url == item.url %}
                <li aria-current="page"><span>{{ item.name }}</span></li>
                {%- else %}
                <li><a href="{{ item.url }}" title="{{ page.description }}">{{ item.name }}</a></li>
                {%- endif %}
            {%- endfor %}
            </ul>
        </nav>
        <main>
            {{ content }}
        </main>
        <footer>
            <address>
                <a class="email" href="mailto:{{ site.email | uri_escape }}" aria-label="email address {{ site.email }}">{{ site.email }}</a>
                <a class="tel" href="tel:{{ site.tel | slugify }}" aria-label="telephone number {{ site.tel }}">{{ site.tel }}</a>
                <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "Organization",
                    "url": "https://www.wildaboutpilates.co.uk/",
                    "name": "Wild About Pilates",
                    "contactPoint": {
                        "@type": "ContactPoint",
                        "telephone": "{{ site.tel_int }}",
                        "email": "{{ site.email | uri_escape }}",
                        "contactType": "sales",
                        "areaServed": "GB"
                    }
                }
                </script>
                <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "LocalBusiness",
                    "@id": "https://www.wildaboutpilates.co.uk/macclesfield",
                    "url": "https://www.wildaboutpilates.co.uk/",
                    "name": "Wild About Pilates",
                    "telephone": "+44-7378-166524",
                    "image": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo.svg"
                }
                </script>
            </address>
        </footer>
        <script>
            (function() {
                var menu_toggle = document.getElementById('menu-toggle');
                document.body.addEventListener("click", function(e) {
                    if (e.target.id !== 'menu-toggle' && menu_toggle.checked) {
                        menu_toggle.checked = false;
                    }
                });
                document.getElementById('main-nav').classList.remove('no-delay');
            })();
        </script>
    </body>
</html>
