<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110387338-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110387338-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1" />
        <title>{{ page.title }} | Wild About Pilates</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500italic" rel="stylesheet">
        <link rel="stylesheet" href="/css/screen.css?n">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        {%- if page.description %}
        <meta name="description" content="{{ page.description }}">
        {%- endif %}
        <meta name="apple-mobile-web-app-title" content="Wild About Pilates">
        <meta name="application-name" content="Wild About Pilates">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:locale" content="en_GB">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:type" content="article">
        {%- if page.title %}
        <meta property="og:title" content="{{ page.title }}">
        {%- endif %}
        {%- if page.description %}
        <meta property="og:description" content="{{ page.description }}">
        {%- endif %}
        {%- if page.og_image %}
        <meta property="og:image" content="{{ page.og_image }}">
        {%- else %}
        <meta property="og:image" content="https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1200w630h.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        {%- endif %}
    </head>
    <body>
        <header>
            <a id="skip-to-content" href="#main-content">Skip to main content</a>
            <a class="logo" href="/">Wild About Pilates</a>
            <nav id="main-nav" class="no-delay" aria-label="Main Navigation">
                <ul id="menu">
                {%- assign items = site.pages | sort: 'nav_order' %}
                {%- for item in items %}
                {%- if item.nav_title %}
                    {%- if page.url == item.url %}
                    <li aria-current="page">
                        <span class="{{ item.nav_title | slugify: 'ascii' }}">{{ item.nav_title }}</span>
                    </li>
                    {%- else %}
                    <li>
                        <a class="{{ item.nav_title | slugify: 'ascii' }}" href="{{ item.url }}" title="{{ item.title }}">{{ item.nav_title }}</a>
                    </li>
                    {%- endif %}
                {%- endif %}
                {%- endfor %}
                </ul>
            </nav>
        </header>
        <main>
            <h1 id="{{ page.title | slugify: 'ascii' }}">{{ page.title }}</h1>
            {{ content }}
        </main>
        <footer>
            <address>
                <a class="email" href="mailto:{{ site.email | uri_escape }}" aria-label="email address {{ site.email }}">{{ site.email }}</a>
                <a class="tel" href="tel:{{ site.tel | slugify }}" aria-label="telephone number {{ site.tel }}">{{ site.tel }}</a>
                <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "Organization",
                    "url": "https://www.wildaboutpilates.co.uk/",
                    "name": "Wild About Pilates",
                    "logo": "https://www.wildaboutpilates.co.uk/images/wild-about-pilates-logo-1120w1120h.png",
                    "contactPoint": {
                        "@type": "ContactPoint",
                        "telephone": "{{ site.tel_int }}",
                        "email": "{{ site.email | uri_escape }}",
                        "contactType": "sales",
                        "areaServed": "GB"
                    },
                    "sameAs": [
                    	"https://www.facebook.com/WildAboutPilates/",
                    	"https://www.linkedin.com/in/chrissie-raynham-wild-11a1b9157/",
                    	"https://www.instagram.com/wildaboutpilates/",
                    	"https://twitter.com/WAPilates1"
                    ]
                }
                </script>
            </address>
        </footer>
    </body>
</html>
